body {
	background-color: #000000;
	color:#EEEEEE;
}
.intro_txt {
	font-size:0.9em;
	color:#BBBBBB;
}
.intro_headline {
	font-size:1.3em;
	font-weight:strong;
}
.intro_headline_smaller {
	font-size:1.2em;
	font-weight:strong;
}
.artists_body {
	padding-top:0px;
	padding-left:0px;
}
.artists_name {
	font-weight:bold;
	font-size:1.2em;
	color:#eeeeee;
	padding-top:10px;
}
.artists_description {
	font-size:0.9em;
	color:#BBBBBB;
}
.lekt_body {
	padding-top:0px;
	padding-left:0px;
}
.lekt_name {
	font-weight:bold;
	font-size:1.2em;
	color:#eeeeee;
	padding-top:10px;
}
.lekt_description {
	font-size:0.9em;
	color:#BBBBBB;
}

.legend_align {
    vertical-align: middle;
}

.info_panel_left {
    padding-top: 3px;
    padding-left: 3px;
    text-align: left;
}

.info_panel_right {
    padding-top: 3px;
    padding-right: 3px;
    text-align: right;
}

.widest_column {
    width: 100%;
    padding-left: 3px;
    font-size:12px;
}

.day_header {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.rounded_corners {
    border-color: #909d71;
    border-style: solid;
    border-width: thin; 
    border-radius: 5px;
    padding: 3px;
}

.no_borders {
    border: none;
    width: 100%;
}

.time_cell {
    padding-left: 1ex;
    padding-right: 3px;
}

.dark_cell {
    background-color: #000000;
    color:#eeeeee;
}

.light_cell {
    background-color: #909d71;
    color:#333333;
}
